

div{
    margin-bottom: 20px;

}

h1{
    text-align: left;
    margin-left: 2%;
}


form{
    display: block;
    width:50%;
    position: relative;
}

label {
    display: block;
    width: 200px;
}

button.btn.btn-add{
    background-color: rgb(12, 147, 71);
    color: white;
    border-radius: 5px;
    font-size: 1.1rem;
    border: none;
    padding: 10px 20px;
    position: absolute;
    right:0;
}



input[type="text"]{
    display: block;
    width:100%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;

}

.container{
    border-radius: 5px;
    background-color: rgba(254, 254, 254, 0.99);
    padding:5px;
    margin: 2%;
}



button.btn.btn-save{
    background-color: rgb(12, 147, 71);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 18px;
    position: absolute;
    right:0;
}


button.btn.btn-cancel{
    background-color: rgb(254, 254, 254);
    color: rgb(97, 179, 198);
    border-radius: 5px;
    border: 1px solid rgb(97, 179, 198); 
    padding: 8px 15px;
  
}


button.btn.btn-edit{
    background-color: rgb(9, 144, 248);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
   
}


button.btn.btn-delete{
    background-color: rgb(239, 11, 11);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;

   
}

.btn.btn-form{
    background-color: rgb(172, 170, 170);
    color: white;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    margin-left:5%;
}

img{
    width: 150px;
}

p{
    font-size: 1.5rem;
    display: inline;

}

section.image {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(254, 254, 254, 0.99);
    margin-left: 2%;
    width: 175px;
    height: 200px;
    position:relative;

}


section.data {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(254, 254, 254, 0.99);
    margin-left: 2%;
    width: 400px;
    height: 200px;
    position:absolute;
    

}

section.post-info {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(254, 254, 254, 0.99);
    margin-left: 2%;
    width: 400px;
    height: 200px;
    position:absolute;
    top: 200px;

}

section.post {
    display: inline-block;
    border-radius: 5px;
    background-color: rgba(254, 254, 254, 0.99);
    margin-left: 2%;
    width: 75%;
  

}