{% extends 'base.html' %}
{% block title %}Add New Post{% endblock %}

{% block body %}
<h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>

<div class="container">
    <form action="/users/{{user.id}}/posts/new" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" name="title">
        </div>
        <div>
            <label for="content">Content</label>
            <input type="text" name="content">
        </div>
        <div>
            {%for tag in tags%}
            <input type="checkbox" name="tags" value="{{tag.id}}">
            <label for="tags">{{tag.name}}</label>
            {%endfor%}
        </div>
        <button class="btn btn-add">Add</button>


    </form>

    <form action='/users/{{user.id}}' ,method="GET">
        <button class="btn btn-cancel-post">Cancel</button>
    </form>
</div>

{% endblock %}