{% extends 'base.html' %}
{% block title %}Post Detail{% endblock %}

{% block body %}
<h1>Post Detail Page</h1>

<section class="post">
    <h2>{{post.title}}</h2>
    <p>{{post.content}}</p>

    <div class="author">
        By {{post.user.first_name}} {{post.user.last_name}}
    </div>

    <div>
        Tags:
        {% for tag in post.tags%}
        <button>{{tag.name}}</button>
        {%endfor%}
    </div>

    <form action="/users/{{post.user_key}}" method="GET">
        <button class="btn btn-cancel">Cancel</button>
    </form>
    <form action="/posts/{{post.id}}/edit" method="GET">
        <button class="btn btn-edit">Edit</button>
    </form>
    <form action="/posts/{{post.id}}/delete" method="POST">
        <button class="btn btn-delete">Delete</button>
    </form>

</section>




{% endblock %}